# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
allure-results

.vagrant
screenshot

# cfn auto generate files
aws/CloudFormation/modules/*/schema.json
aws/CloudFormation/modules/*/rpdk.log
aws/CloudFormation/modules/*/*.zip
